@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;


   }
   *::-webkit-scrollbar {
      display: none;
    }
   


.container{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #000000;
}

.left-nav{
    margin-left: 10px;
    padding-top: 20px;
    width: 14%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;   */
    gap: .8rem;
    background-color: #000000;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}


.right-part{
   overflow-y: scroll;
    width: 85%;
    height: 100%;
    background-color: #212121;
    
}
.logo{
    width: 130px;
    margin-left: 30px;
}
.home, .search, .library, .playlist,
 .liked-songs, .episodes, .install{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 5px;
    width: 95%;
    transition: all 0.2s ease-in-out;
 }

 .home:hover, .search:hover, 
 .library:hover, .playlist:hover,
 .liked-songs:hover, .episodes:hover, .install:hover{
  cursor: pointer;
  background-color: #212121;
 }
 
.home-container, .playlist-container, 
.fav-tags{
    display: flex;
    flex-direction: column;
}

.active{
    background-color: #212121;
    
}


 .leftnavh2{
    font-size: 13px;
    color: whitesmoke;
 }

 .leftnavimg{
    width: 22px;
    margin-right: 15px;
 }
.playlist-container>h2{
    color: #B3B3B3;
    font-size: 15px;
    padding-left: 15px;
}
.line{
    width: 80%;
    height: 2px;
    background-color: #212121;
    justify-content: center;
    margin-top: 8px;
    margin-left: 15px;
}


.right-part{
    background-color: red;
}

.leftnav-Bottom>img{
    position: absolute;
    bottom: 0px;
    width: 95%
}


/* **********Right Part Startss********** */

.right-part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.right60-Top{
  background-image: linear-gradient(#8CAAA3,#000000);
  width: 100%;
  height: 60%;
}
.right40-Bottom{
  background-color: #000000;
  width: 100%;
  height: 40%;
}




/* *********Bottom Palyer Controls Part************* */

.bottom{
    padding: 40px 20px;
    width: 100%;
    height: 10vh;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
  }
  /* <!-- ===========Bottom left============== */
  .songName{
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .songName img{
    width: 60px;
  }
  .songName>div>h2{
    font-size: 18px;
    color: whitesmoke;
  }
  .songName>div>p{
    font-size: 15px;
    color: whitesmoke;
  }
 
 
  /* <!-- ===========Bottom Middle============= */
  .playControls{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  .playControls>.control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .control>img{
    width: 25px;
  }
  
  .bar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: whitesmoke;
  }
  .music-bar{
    width: 400px;
  }
  .musichov{
   mix-blend-mode: screen;
   transition: all 0.2s ease-in;
  }
  .musichov:hover{
   box-shadow: 1px 1px 20px gray;
   cursor: pointer;
  }
  .play{
    border-radius: 50%;
    overflow: hidden;
   }
 
  /* <!-- ===========Bottom Right============= */
  .volume{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-right: 10px;
  }
  .vol{
    width: 20px;
    mix-blend-mode: screen;
    transition: all 0.2s ease-in;
  }
 
  .black-spek{
    width: 45px;
  }
  .vol:hover{
   box-shadow: 1px 1px 10px rgb(71, 71, 71);
   cursor: pointer;
  }
  
/* 
  .heart {
    color: white;
  } */
  .heart>img{
    width: 30px;
  }