





@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

   }
   *::-webkit-scrollbar {
      display: none;
    }


.container{
    width: 100%;
    height: 85vh;
    display: flex;
    background-color: #000000;
}

.left-nav{
    margin-left: 10px;
    padding-top: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
    background-color: #000000;
    height: 100%;
    overflow-y: scroll;
}


.right-part{
   overflow-y: scroll;
    width: 80%;
    height: 100%;
    background-color: #212121;
    
}
.logo{
    width: 140px;
    margin-left: 30px;
}
.home, .search, .library, .playlist,
 .liked-songs, .episodes, .install{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 5px;
    width: 95%;

 }
.home-container, .playlist-container, 
.fav-tags{
    display: flex;
    flex-direction: column;
}

.active{
    background-color: #212121;
    
}
.fav-tags{
    padding-left: 15px;
}
.fav-tags h2{
    padding: 3px 0;
}



 .leftnavh2{
    font-size: 13px;
    color: whitesmoke;
 }

 .leftnavimg{
    width: 22px;
    margin-right: 15px;
 }
 .install{
    margin-bottom: 10px;
    margin-top: -10px;
 }
 .dwn{
    margin-right: 15px;
    width: 20px;
 }



 /* *************Right Parts*********** */

 .nav{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkgoldenrod; */
    width: 95%;
    
 }
 .left-right{
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 .left-right img{
    width: 30px;
 }
 .profile{
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 3px;
    border-radius: 20px;
    gap: 0.8rem;
    
 }
 .profile h3{
    font-size: 15px;
    color: white;
 }








/* ************************************ */
 .goodmrng{
   padding: 0 50px;
 }
 .goodmrng>h1{
   color: whitesmoke;
   font-size: 22px;
   margin: 8px 0;
 }

 .likedcardholder{
   display: flex;
   
   gap: 1rem;
  /* background-color: aqua; */
   flex-wrap: wrap;
  
 }

 .likedcards{
   display: flex;
   align-items: center;
   width: 300px;
   background-color:#303030 ;
 }
 .likedcards>img{
   width: 50px;
   margin-right: 10px;
 }
 .likedcards>h2{
   font-size: 14px;
   color: whitesmoke;
   word-break: break-all;
 }


 /* ///////////////////////// */
.shows{
   padding: 0px 50px;
  
}
.shows>div{
   display: flex;
   
   align-items: center;
   justify-content: space-between;
}

.shows>div>p{
   color: whitesmoke;
   text-transform: uppercase;
}

.shows>div>h1{
   margin-top: 18px;
   font-size: 20px;
   color: whitesmoke;
   margin-bottom: 15px;
}



.showsCards{
   padding-right: 80px;
   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
}
 .showCard{
   background-color: #181818;
   padding: 15px;
   
 }
 .showCard>h2{
   font-size: 14px;
   color: whitesmoke;
 }
 .showCard>p{
   font-size: 12px;
   color: whitesmoke;
 }
 .showCard>img{
   width: 130px;
 }

 .alex{
   height: 130px;
 }












 .bottom{
   padding: 40px 20px;
   width: 100%;
   height: 10vh;
   background-color: #181818;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
  
 }

 .songName{
   display: flex;
   align-items: center;
   gap: 0.7rem;
 }
 .songName img{
   width: 60px;
 }
 .songName>div>h2{
   font-size: 18px;
   color: whitesmoke;
 }
 .songName>div>p{
   font-size: 15px;
   color: whitesmoke;
 }



 .playControls{
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   
 }
 .playControls>.control{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
 }
 .control>img{
   width: 25px;
 }
 
 .bar{
   display: flex;
   align-items: center;
   gap: 0.5rem;
   color: whitesmoke;
 }
 .music-bar{
   width: 400px;
 }


 .volume{
   display: flex;
   align-items: center;
   gap: 0.7rem;
 }
 .vol{
   width: 20px;
 }

 .black-spek{
   width: 45px;
 }
 


 .green-notice{
   display: flex;
   align-items: center;
   justify-content: end;
  
   width: 100%;
   height: 20px;
   background-color: #1ED760;
 }
 .green-notice img{
   width: 15px;
 }
 .green-notice h2{
   font-size: 15px;
   padding-right: 30px;
 }